body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* $color1: #dad7cd;
$color2: #588157;
$color3: #a3b18a;
$color4: #3a5a40; */

.heading {
  color: #3a5a40;
}
.subHeading {
  color: #588157;
}
.custom-dark {
  background-color: #3a5a40;
  color: #dad7cd;
}
.linkHeader {
  padding: 5px 3px;
  border-radius: 5px;
  cursor: pointer;
}
.linkHeader:hover {
  border: 1px solid #588157;
  color: #dad7cd;
}

.btnCarousel1 {
  color: white;
  background-color: #588157;
}
.btnCarousel1:hover {
  background-color: #3a5a40;
  color: white;
}
input:focus {
  outline: none !important;
}
/* // Card shadow */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

/* // Login and signup page */
.displaySign {
  display: block;
}
.gridSign {
  border: 1px solid #e0e0e0;
}
@media screen and (max-width: "768px") {
  .displaySign {
    display: none;
  }
  .gridSign {
    border: none;
  }
}
